<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

   <div class="dropdown">
      
      <label for="cars">Choose a Stock:</label>

<select id="cars">
  <option value="baj">BAJFINANCE</option>
  <option value="baj">BAJFINANCE</option>
  <option value="baj">BAJFINANCE</option>
  <option value="baj">BAJFINANCE</option>
  
</select>
   </div>
   <form action="../test.py" method="POST">
      <p>Start</p>
   <input type="date" id="start" name="start">

   <p>End</p>
   <input type="date" id="start" name="start">

   <input type="submit">
   </form>

   <button>Candlestick Chart</button>
   <button>S & R</button>
   <button>Line Graph</button>
   <button>Prediction</button>
</body>

</html>