@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
	font-family: 'Roboto Condensed', sans-serif;
}

/*Navbar*/
.bg-color{
	background:#0f0f0ffb;
	
}
.navbar-brand{
	color: #f8aa02;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 35px !important;
}
.nav-link{
	font-weight: bold;
	color: #f8aa02;
	font-size: 20px;
	letter-spacing: 1px;
}
.btn-group{
	color: #f8aa02;
}
.navbar-toggler i{
	color: #f8aa02;

}

/*Hero*/

#hero{
	display: table;
	width: 100%;
	height: 100vh;
	background: url(Images/chart.jfif) top center;
	opacity: 1;
	background-size: cover;
}
@media(min-width: 1024px){
	#hero{
		background-attachment: fixed;
	}
}

#hero .hero-logo{
	margin: 20px;
	max-width: 100%;
}
#hero .hero-container{
	background: rgba(0,0,0,0.2);
	display: table-cell;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
#hero h1{
	margin: 30px 0 10px 0;
	font-weight: bold;
	line-height: 48px;
	text-transform: uppercase;
	color: #fff;
}
@media (max-width: 768px){
	#hero h1{
		font-size: 28px;
		line-height: 36px;
	}
}

#hero h2{
	color: #f8aa02;
	margin-bottom: 50px;
	font-weight: 900;
	font-style: italic;
}
@media (max-width: 768px){
	#hero h2{
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 30px;
	}
}


#hero .actions a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 20px;
	border-radius: 2px;
	transition: 0.5s;
	margin: 10px;
}
#hero .btn-get-started{
	background: #ebe703;
	border: 2px solid #a85303;
	color: #fff;
}
#hero .btn-get-started:hover{
	background: none;
	border: 2px solid #fff;
	color: blue;
	font-weight: 600;
	text-decoration: none;
	font-style: italic;
}


/*Trading section*/
.make-trade{
	width: 100%;
	background:rgba(231,151,2,0.5);
}
.make-trade .form-group label{
	font-weight: bold;
	color: #000;
}
@media(max-width: 768px){
	.make-trade .form-group .select-wrap{
		position: relative;
	}
}
@media(max-width: 768px){
	.make-trade .form-group .btn-book{
		width: 100%;
		display: block;
	}
}
.btn-book {
	display: inline-block;
	vertical-align: middle;
	color: #fff !important;
	background:#000 !important;
}


/*Chart section*/
.chef h2{
	color: #000;
}
.chef .col-sm-3{
	padding: 0;
}
.chef .card > a{
	display:block;
}
.chef .card img{
	width: 100%;
}
.chef .card h4{
	color: #fff;
	text-transform: uppercase;
}
.chef .card p{
	font-size: 11px;
	color: #fff;
	opacity: .75;
	margin: 0;
	padding: 0 35px;
}

.chef .card:hover .chef-over{
	opacity: 1;
	visibility: visible;
}
.chef .card:hover .card-title-wrap{
	background-color: #fe9801;
}
.chef .card:hover .card-title-wrap .card-title,
.chef .card:hover .card-title-wrap .card-text{
	color: #fff;
}
.chef .chef-over{
	padding-top: 45px;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}
.chef .card-title-wrap{
	padding: 15px 25px;
	position: relative;
	z-index: 9;
	background: #fff;
}
.chef .card-title-wrap .card-title,
.chef .card-title-wrap .card-text{
	display: block;
	margin: 0;
}
.chef .card-title-wrap .card-title{
	font-size: 24px;
	color: #000;
}
.chef .card-title-wrap .card-text{
	font-size: 18px;
	color: #000;
}

/* Stock Section*/
#chart-card{
	height:700px;
	width: 100%;
	background-color: pink;
}


#Line-chart img{
	width: 100%;
	height: 100vh;
	background: url(Images/chart.jfif) top center;
}

@media(min-width: 1024px){
	#Line-chart{
		background-attachment: fixed;
	}
}


/*Blog section */

.blog-section{
	background:black;
	width: 100%;
}
.blog-start{
	overflow: hidden;
	width: 100%;

	position: relative;
	z-index: 0;
}

@media(min-width: 768px){
	.blog-start{
		margin-bottom: 30px;
	}
}

.glow{
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0,0,0,0);
	transition-duration: 0.3s;
	transition-property: box-shadow;

}
.glow:hover,.glow:focus,.glow:active{
	box-shadow: 1px 1px 8px rgb(236,117,5);
}
.blog-start .img, .blog-start .text{
	width: 50%;
	background-size: cover;
}

@media(max-width: 992px){
	.blog-start .img, .blog-start .text{
		width: 100%;
	}
}
@media(max-width: 768px){
	.blog-start .img{
		height: 300px;
	}
}
.blog-start .text{
	position: relative;
	margin: 0 auto;
	z-index: 0;
}
.blog-start .text .heading{
	font-size: 22px;
	margin-bottom: 0;
	font-weight: bold;
	font-style: italic;
}

.blog-start .text .heading a{
	color: #000;
}
.blog-start .text .heading a:hover,
.blog-start .text .heading a:focus,
.blog-start .text .heading a:active{
	color: #e79702;
}

.blog-start .des p i{
	padding-right: 10px;
}
.blog-start .btn-custom{
	color: #e79702;
	font-style: italic;
	font-weight: bold;
}
.blog-start .btn-custom i{
	font-size: 12px;
}

.btn-prod{
	display: inline-block;
	vertical-align: middle;
	color: #fe9801 !important;
	padding-bottom: 10px;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0px 0px 1px rgb(236,117,5);
	position: relative;
	overflow: hidden;
}
.btn-prod:before{
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	top: 0;
	background: #fe9801;
	height: 4px;
	transition-property: left,right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.btn-prod:hover:before, .btn-prod:focus:before,
.btn-prod:active:before{
	left: 0;
	right: 0;
}


/*COntact section*/
.footer{
  background-color: white;
  color: orange;
  height: 100%;
  text-align: center;
  font-weight: 600;
  position: all;
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social{
  margin-bottom: 2rem;
}
.footer__icon{
  font-size: 1.5rem;
  color: orange;
  margin: 0 1rem;
}